*{
    margin:0; padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
    background: #0062be;
}

section{
    padding:2rem 9%;
}

.header{
    position: fixed;
    top:0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    height: 12vh;
    background:#045bac;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:0.5rem 2%;
}

.header h1{
    font-size: 2.5rem;
    color: #fff;
}
#logo{
    max-width: 4%;
    cursor: pointer;
}
#logo:hover{
    transition: all 0.5s ease-in-out;
    transform: rotate(360deg);
}
#themePic{
    display: flex;
    left: 35%;
    padding: 0 15rem;
    margin-bottom: 0.8rem;
}
#themePic li{
    list-style: none;
    display: inline-block;
    margin: 0 2rem;
    cursor: pointer;
    transition: 0.5s;
    max-width: 1rem;
}
#themePic li img{
    padding-top: 1rem;
    max-width: 260%;
}
#themePic li :hover{
    transform: translateY(1rem);
}
#navi ul{
    display: flex;
    margin-right: 2rem;
}
#navi ul li{
    list-style: none;
    margin-left: 2.7rem;
}
#navi ul li a{
    display: inline-block;
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    background-color: #045bac;
    border-radius: 1.2rem;
    padding: .5rem;
}
#navi ul li a:hover{
    color: #045bac;
    background-color: #fff;
}

#home{
    height: 100vh;
}

#content{
    display: flex;
    margin-top: 15rem;
}
.content-left-col{
    padding-left: 3rem;
    padding-top: 5rem;
}
.content-left-col  h2{
    color: #fff;
    font-size: 6rem;
    line-height: 5.5rem;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 2rem;
}
.content-left-col h2 span{
    font-size: 6rem;
}
.content-left-col p{
    font-size: 1.8rem;
    color: #fff;
    padding-top: 2rem;
    margin-right: 30rem;
}
.content-left-col a{
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 2rem;
    padding: .8rem 2rem;
    color: #111;
    border-radius: 4rem;
    font-weight: 500;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
}
.content-left-col a:hover{
    background-color: rgb(255, 123, 0);
    color: #fff;
}

.content-right-col .imgBox img{
    padding-right: 15rem;
    width: 25vw;
}

.Hsci{
    position: absolute;
    top: 50%;
    right: 8rem;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Hsci li{
    list-style: none;
}
.Hsci li a{
    display: inline-block;
    filter: invert(1);
    margin: .5rem 0;
    transform: scale(0.8);
}

#mango{
    background-image: url('home/m1.PNG');
    background-repeat: no-repeat;
    background-size: 150rem 70rem;
    height: 105vh;
}
.mvdo{
    padding-top: 30rem;
    margin-right: 50rem;
    width: 40%;
}
.mvdo .mvideo video{
    border: none;
    height: 100%;
    width: 100%;
}
.mvdo .mvideo span{
    padding-left: 20%;
    font-size: 3em;
    color: rgb(4, 71, 255);
    font-weight: 800;
}

#vdoDisplay{
    height: 100vh;
    display: flex;
}
.vdo{
    margin-top: 15rem;
    margin-left: 55rem;
    height: 40rem;
    width: 60rem;
}
.vdo .video video{
    border: none;
    height: 100%;
    width: 100%;
}
.btn-sliders{
    margin-top: 1.5rem;
    margin-left: 50%;
}
.btn-sliders span{
    margin: .1rem;
    padding: .2rem;
    border: .3rem solid #fff;
    margin: 0 .3rem;
    border-radius: 3rem;
    cursor: pointer;
}
.btn-sliders span:hover{
    background: #fff;
}
.Video-right-col{
    position:absolute;
    width: 50%;
}
.Video-left-col{
    margin-top: 20rem;
    width: 50%;
}


.Video-left-col  h2{
    color: #fff;
    font-size: 5em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 2rem;
}
.Video-left-col h2 span{
    font-size: 1em;
    background-color: rgb(248, 50, 50);
}
#vdoDisplay .Video-left-col a{
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 2rem;
    padding: .8rem 2rem;
    color: #111;
    border-radius: 4rem;
    font-weight: 500;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
}
.Video-left-col a:hover{  /* not working */
    background-color: rgb(255, 123, 0);
    color: #fff;
}

#black{
    background-image: url('home/black1.PNG');
    height: 105vh;
    background-repeat: no-repeat;
    background-size: 150rem 70rem;
}
.bvdo{
    padding-top: 39rem;
    margin-left: 30.3rem;
    height: 15.5rem;
    width: 27rem;
}
.bvdo .bvideo{
    height: 100%;
    width: 100%;
}
.bvdo .bvideo video{
    border: none;
    height: 20rem;
    width: 40rem;
}
.bvdo .bvideo span{
    padding-left: 14rem;
    font-size: 3rem;
    color: #fff;
    font-weight: 800;
}


#history{
    height: 70vh;
}
#history h3{
    margin-top: 10rem;
    color: #fff;
    font-size: 4rem;
    margin-bottom: 3rem;
}
#history p{
    color: #fff;
    font-size: 1.5rem;
}
#peplogo{
    height: 55vh;
}
#peplogo img{
    margin-left: 35rem;
}
#peplogo h3{
    margin-left: 39rem;
    color: #fff;
    font-size: 4rem;
    margin-bottom: 3rem;
}
#aboutus{
    height: 110vh;
    display: flex;
}
#row1 ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
#row2 ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
#row3 ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
#row4 ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: -4rem;
}
#row5 ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: -4rem;
}
#row1 img{
    height: 8rem;
    margin-right: 2rem;
    margin-top: 3.5rem;
    border-radius: 10%;
}
#row2 img{
    height: 8rem;
    margin-right: 3.2rem;
    margin-left: 1rem;
    margin-top: 3.5rem;
    border-radius: 10%;
}
#row3 img{
    height: 8rem;
    margin-right: 3rem;
    margin-left: 1rem;
    margin-top: 3.5rem;
    border-radius: 10%;
}
#row4 img{
    height: 8rem;
    margin-right: 1rem;
    margin-left: 4rem;
    margin-top: 3.5rem;
    border-radius: 10%;
}
#row5 img{
    height: 8rem;
    margin-right: 1rem;
    margin-left: 5rem;
    margin-top: 3.5rem;
    border-radius: 10%;
}
#row5 div{
    display: flex;
    margin-top: 5rem;
    margin-left: 8rem;
}
#row5 .dot{
    background: #fff;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: .8rem;
}
#left{
    margin-top: 5rem;
}
#right{
    margin-top: 15rem;
    margin-left: 5rem;
}
#right h1{
    color: #fff;
    font-size: 5rem;
}
#right span{
    background: red;
}
#right #a2{
    margin-top: 1rem;
    margin-right: 5.5rem;
    color: #fff;
    font-size: 1.5rem;
}

#world{
    display: flex;
    height: 80vh;
}
#world h2{
    color: #fff;
    font-size: 4rem;
    line-height: 5.5rem;
    font-weight: 900;
    padding-top: 15rem;
    margin-right: 3rem;
}
#world span{
    background-color: red;
}
#world img{
    width: 63%;
}

#bod h2{
    color: #fff;
    font-size: 4rem;
    margin-left: 45rem;
}
.flx{
    display: flex;
    margin-top: 3rem;
}
.flx1{
    margin-left: 5rem;
    display: flex;
}
.lnk{
    margin-top: 25rem;
}
.lnk h3{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 2.5rem;
}
.lnk span{
    background-color: red;
}
#ct{
    padding-left: 11rem;
}
.lnk a{
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    margin: 3rem;
    line-height: 5rem;
}